*{
    margin:0;
    padding:0;
}

@font-face {
    font-family:norsebold ;
    src: url(./assets/Norse-Bold.woff2);
}

body{
    font-family: norsebold;
}

.container{
    display:flex;
    justify-content:start;
    align-items: start;
}


.cover{
    background-image: url(./assets/coverimg.jpg); 
    background-size: contain;
    height:100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width:35%;    
    border:2px solid red; 
    text-align: center;
}

.cover > div {
    height: 150px;
    display:flex;
    background-color: rgba(0,0,0,0.5);
    margin-top:100px;
    justify-content: center;
    align-items: center;  
}

.cover > small{
    position:relative;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    top: 330px;
    

}

.cover a {
    color: white;
}

.logo{
  width:100px;
}

.logo + p{
    font-size: 100px;
    color:white;
    font-weight: bolder;
}


.content{
    
}